# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.sw*
# C extensions
*.so

# Django stuff:
*.log
local_settings.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

test/node_modules

# migrations
*/migrations/*
!*/migrations/__init__.py
kwikview/whoosh_index/
