.bg-gray {
    background-color: #e2e2e2;
}

.logo-color {
    color: #f1813a;
}

.float-right {
    float: right;
}

.pointer {
    cursor: pointer;
}

.bootstrap-tagsinput {
    width: 100%;
}

.bootstrap-tagsinput .tag, .tag {
    color: #2c5777;
    background-color: #e1ecf4;
    padding: 3px;
    border-radius: 3px;
    font-size: 12px;
}

.no-display{
    display: none;
}

.badge-stack-overflow {
    width: fit-content;
    text-align: left;
    font-weight: 400;
}

.mt-1-1 {
    margin-top: -1.1rem;
}
