{% extends "base.html" %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block body %}

    {% include "navbar.html" %}
    <div class="container mt-2">
        <a href="/questions/ask" class="btn btn-primary float-right">Ask Question</a>
        <br/>

        <h5 class="text-muted">My questions</h5>
        <div id="user-questions" class="my-4">
        </div>

        <h5 class="text-muted">Community questions</h5>
        <div id="community-questions" class="my-4">
        </div>

    </div>

{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>

{% endblock %}
