{% extends "base.html" %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block body %}

    {% include "navbar.html" %}
    <div class="container mt-2">
        <a href="/questions/ask" class="btn btn-primary float-right">Ask Question</a>
    </div>

{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>

{% endblock %}
