{% extends "base.html" %}
{% load static %}

{% block styles %}
    {{ block.super }}
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block body %}
	<center>
    <body style="background-color:#e7e7ec">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-4 col-md-6 col-sm-8">
					<div class="card border-1 mt-5">
						<div class="card-body p-4">
							<h3 class="mt-3">
								<i class="fab fa-stack-overflow logo-color mr-2"></i>
								Stack Overflow 
							</h3>
							<br/>
							<div class="input-group">
								<span class="input-group-addon px-2 pt-1 bg-gray">
									<i class="fas fa-user mt-2"></i>
								</span>
								<input type="text" id="username" class="form-control" 
									placeholder="Username"/>
							</div>
							<div id="error">
							</div>
							<br/>
							<button class="btn btn-primary text-center w-100" id="login">
								Login
							</button>
							<br/>
					</div>
				</div>
			</div>
	</center>
    </body>
{% endblock %}
{% block scripts %}
    {{ block.super }}
{% endblock %}
